.tabbable
  %ul.nav.nav-tabs
    %li.active= link_to I18n.t(:signup), "#signup", :data => {:toggle => "tab"}
  .tab-content.main
    #signup
      .well.white
        = simple_form_for @user, :html => {:class => "form-horizontal"} do |f|
          .well
            %fieldset
              = f.input :username
              = f.input :email
              = f.input :password
              = f.input :password_hint, :as => :string, :placeholder => I18n.t(:password, :scope => [:placeholders])
          .form-actions.with_well
            = f.submit I18n.t(:signup), :class => "btn btn-primary", :disable_with => I18n.t(:processing)
            or
            = link_to "<i class='icon-user'></i> #{I18n.t :signin_link}".html_safe, signin_path, :class => "hover-link"
