.tabbable
  %ul.nav.nav-tabs
    %li.active= link_to I18n.t(:features), "#features", :data => {:toggle => "tab"}
  .tab-content.main
    #features.tab-pane.active
      .tabbable.tabs-left
        %ul.nav.nav-tabs
          %li.active= link_to "<i class='icon-download'></i>&nbsp;#{I18n.t(:automatic_download_title)}".html_safe, "#automatic_download", :data => {:toggle => "tab"}
          %li= link_to "<i class='icon-refresh'></i>&nbsp;#{I18n.t(:sync_title)}".html_safe, "#sync", :data => {:toggle => "tab"}
          %li= link_to "<i class='icon-resize-full'></i>&nbsp;#{I18n.t(:complete_title)}".html_safe, "#complete", :data => {:toggle => "tab"}
          %li= link_to "<i class='icon-lock'></i>&nbsp;#{I18n.t(:distrust_title)}".html_safe, "#distrust", :data => {:toggle => "tab"}
          %li= link_to "<i class='icon-signal'></i>&nbsp;#{I18n.t(:mobile_devices_title)}".html_safe, "#mobile_devices", :data => {:toggle => "tab"}
          %li= link_to "<i class='icon-user'></i>&nbsp;#{I18n.t(:target_users_title)}".html_safe, "#target_users", :data => {:toggle => "tab"}
          %li= link_to "<i class='icon-star'></i>&nbsp;#{I18n.t(:use_cases_title)}".html_safe, "#use_cases", :data => {:toggle => "tab"}
        .tab-content
          #automatic_download.tab-pane.active
            %h3= t :automatic_download_title
            .well.mt_1em
              =t :automatic_download
              .mt_1em= image_tag "unattended.png"
          #sync.tab-pane
            %h3= t :sync_title
            .well.mt_1em
              =t :sync
              .mt_1em= image_tag "sync.png"
          #complete.tab-pane
            %h3= t :complete_title
            .well.mt_1em
              =t :what_is_it_advantages2
              .mt_1em= image_tag "complete.png"
          #distrust.tab-pane
            %h3= t :distrust_title
            .well.mt_1em
              =t :distrust
              .mt_1em= image_tag "distrust.png"
          #mobile_devices.tab-pane
            %h3= t :mobile_devices_title
            .well.mt_1em
              =t :mobile_devices_html
              .mt_1em= image_tag "mobile.png"
          #target_users.tab-pane
            %h3= t :target_users_title
            .well.mt_1em
              =t :target_users_html
              .mt_1em= t :target_users2_html
              %p
                %ul.icons
                  %li.icon-ok=t :target_users1
                  %li.icon-ok=t :target_users2
              .mt_1em= image_tag "users.png" 
          #use_cases.tab-pane
            %h3=t :use_cases
            .well.mt_1em
              %p
                %ul.icons
                  %li.icon-ok=t :use_cases1
                  %li.icon-ok=t :use_cases2
                  %li.icon-ok=t :use_cases3
              .mt_1em= image_tag "cases.png" 
