!!!
%html
  %head
    %title KloudCatch
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Fredoka+One"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    =yield(:javascript)
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %body
    #root
      #locale.hidden= I18n.locale
      = render :partial => "layouts/nav"
      .container
        - flash.each do |name, msg|
          .alert{:class => name.eql?(:success) ? "alert-success" : name.eql?(:error) ? "alert-error" : nil}
            %a.close{:data => {:dismiss => "alert"}} x
            = msg
        #content.content= yield
      #root_footer
    #footer
      = render :partial => "layouts/footer"
